<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdaxrom.cctools"
    android:versionCode="19"
    android:versionName="1.18" >

    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="5" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.READ_LOGS"/> -->

    <application
        android:theme="@style/Theme.Sherlock"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".CCToolsActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
			</intent-filter>
        </activity>
        <activity android:name="TermActivity"
            	  android:label="@string/console_name"
            	  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            	  android:windowSoftInputMode="adjustResize" />
        <activity android:name="BuildActivity"
            	  android:label="@string/buildwindow_name"
            	  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            	  android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.pdaxrom.utils.FileDialog"
            	  android:label="@string/filebrowser_name"
            	  android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
   		<activity android:name="Preferences" android:label="@string/preferences" />
        <activity android:name="LauncherNativeActivity">
			<intent-filter>
			    <action android:name="com.pdaXrom.cctools.action.RUN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>   		
        <activity android:name="LauncherConsoleActivity">
			<intent-filter>
			    <action android:name="com.pdaXrom.cctools.action.RUN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>   		
        <activity android:name="android.app.NativeActivity">
			<meta-data android:name="android.app.lib_name" android:value="native-loader" />
		</activity>   		
        <activity android:name="com.pdaxrom.pkgmanager.PkgManagerActivity"
            	  android:label="@string/pkgmgr_name"
            	  android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.pdaxrom.cctools.DialogWindow"
            	  android:label="@string/app_name"
            	  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            	  android:theme="@style/Theme.Transparent" />
	</application>
</manifest>
