<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duy.ccppcompiler">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.jecelyin.editor.v2.TextEditorApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".filemanager.install.InstallActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.duy.editor.EditorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/x-*" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/postscript" />
                <data android:mimeType="application/plain" />
                <data android:mimeType="application/x-tcl" />
                <data android:mimeType="application/x-javascript" />
                <data android:mimeType="application/inf" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.googlecode.android_scripting.action.EDIT_SCRIPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.jecelyin.editor.v2.ui.settings.SettingsActivity" />
        <activity android:name="com.jecelyin.android.file_explorer.FileExplorerActivity" />

        <activity android:name=".ui.examples.ExampleActivity" />


        <activity
            android:name="com.pdaxrom.cctools.CCToolsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".console.TermActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/console_name"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.pdaxrom.cctools.BuildActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/buildwindow_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.pdaxrom.utils.FileDialog"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/filebrowser_name" />
        <activity
            android:name="com.pdaxrom.cctools.CCtoolsPreferences"
            android:label="@string/preferences" />
        <activity android:name="com.pdaxrom.cctools.LauncherNativeActivity">
            <intent-filter>
                <action android:name="com.pdaXrom.cctools.action.RUN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pdaxrom.cctools.LauncherConsoleActivity">
            <intent-filter>
                <action android:name="com.pdaXrom.cctools.action.RUN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="android.app.NativeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="native-loader" />
        </activity>
        <activity
            android:name="com.pdaxrom.packagemanager.PackageManagerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/pkgmgr_name" />
        <activity
            android:name="com.pdaxrom.cctools.DialogWindow"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="jackpal.androidterm.MultiTermActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">

        </activity>

        <activity
            android:name="jackpal.androidterm.TermPreferencesActivity"
            android:label="@string/preferences" />

    </application>

</manifest>